extends layout

block body
	#main(class='container')
		.messagesList
		.navbar
			a(href='#',class='navbar-brand') Home Expenses App
		.jumbotron
			h1 Home Expenses App
			form(action='auth/google', method='get', data-ajax="false")
				button(type='submit', class='btn btn-large btn-primary') Login